.woocommerce .sd_fee_item th, .woocommerce .sd_fee_item td { color: #01b580 !important; }
.woocommerce td.cart_grid{border: 2px solid #01b580 !important;}
.woocommerce .sd_fee_item th{ background-image: url("sd-theme-sharedisc-base.png"); color: #01b580 !important;}
.sd_cart_callout{ background-color:#01b580; color:#fff; }
.sharedisctextlink{color:#fff !important; background-color: #01b580; background-image: url("sd-theme-sharedisc-base.png"); }
.sharedisctextlink:hover{color:#fff !important;}