.woocommerce .sd_fee_item th, .woocommerce .sd_fee_item td { color: #0094cb !important; }
.woocommerce td.cart_grid{border: 2px solid #0094cb !important;}
.woocommerce .sd_fee_item th{ background-image: url("sd-theme-sharedisc-blue.png"); color: #0094cb !important;}
.sd_cart_callout{ background-color:#0094cb; color:#fff; }
.sharedisctextlink{color:#fff !important; background-color: #0094cb; background-image: url("sd-theme-sharedisc-blue.png"); }
.sharedisctextlink:hover{color:#fff !important;}